h1{
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}

.container-fluid {
	height: 50%;
}

.row {
	color: blue;
	height: 50px;
	outline: 5px;
}

menu {
height: 500px;
width: 500px;
border-color: black;
}

.border {
border-top: 5px black;
}
.row {
	text-align: center;
	
}
.icecreammenu {
	text-align: center;
	border: solid 2px black;
	margin: 10%;
}